

<!-- FM MARKETING HEADER -->
   <div class="navbar small-margin">
        <div class="navbar-inner">
            <div class="pull-right">
            </div>
        </div>
    </div>



<!-- NAVIGATION: LEFT -->

<div class="navbar navbar-hello big-margin">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)">
        </a>
    </div>

    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">

            <li class="active"><a href="javascript:void(0)">Sales</a></li>

            <li class="dropdown">
                <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Inventory &nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">1</a></li>
                    <li><a href="javascript:void(0)">2</a></li>
                    <li><a href="javascript:void(0)">3</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Dropdown header</li>
                    <li><a href="javascript:void(0)">1</a></li>
                    <li><a href="javascript:void(0)">2</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Account &nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">1</a></li>
                    <li><a href="javascript:void(0)">2</a></li>
                    <li><a href="javascript:void(0)">3</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Dropdown header</li>
                    <li><a href="javascript:void(0)">1</a></li>
                    <li><a href="javascript:void(0)">2</a></li>
                </ul>
            </li>

        </ul>

<!-- NAVIGATION: RIGHT -->

        <ul class="nav navbar-nav navbar-right">
            <a href=""><img src=""></a>
            <li><a href="javascript:void(0)">cashier</a></li>
            <li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
        </ul>

    </div>

</div>






<div class="container">
	<div ui-view="cashierContent"></udiv>
</div>
















<div class="container">


<!-- FOOTER  -->


<br>

    <footer class="text-center">


<br><br>

        <div class="footer-below">
            
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; FM Marketing
                    </div>
                </div>
            
        </div>

<br><br>

    </footer>



</div>


















</div>




