
<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Add Stock (SKU) </h1>
    </div>

    <div class="pageheader-right" align="center">
            <span class="label label-default">DATE:</span>
            <span class="label label-default">FEBRUARY. 09, 2015</span>
            <span class="label label-default"><a href="">▼</a></span>
            <br>

            <form class="navbar-form navbar-left">
                <input type="text" class="form-control" placeholder="Search by:">
            </form>
    </div>

</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">





    <!-- LEFT PANEL -->

    <div class="panel panel-left col-md-3">
        <div class="panel-body">
            <form class="form-horizontal">
                <fieldset>

                    <div class="form-group">
                        <label for="inputProductName" class="col-md-6">
                        Product Name</label>
                        <div class="col-md-12"><input type="text" class="form-control" id="inputProductName" placeholder="Enter product name.">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputSize" class="col-md-6">
                        Size</label> 
                        <div class="col-md-12"><input type="text" class="form-control" id="inputSize" placeholder="Enter size.">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputFirstName" class="col-md-6">
                        Company Name</label>
                        <div class="col-md-12"><input type="inputCompanyName" class="form-control" id="inputCompanyName" placeholder="Enter company.">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPrice" class="col-md-6">
                        Price</label> 
                        <div class="col-md-12"><input type="text" class="form-control" id="inputPrice" placeholder="Enter price.">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="inputBottlePerCase" class="col-md-6">
                        No. of Bottle/Case</label> 
                        <div class="col-md-12"><input type="text" class="form-control" id="inputBottlePerCase" placeholder="Enter no. of bottle per case.">
                        </div>
                    </div>


                    <!-- ADD BUTTON -->

                        <div class="icon-preview">
                          <a class="btn btn-primary pull-right btn-md">Add</a>
                          <br>
                        </div>


                </fieldset>
            </form>
        </div>
    </div>






    <!-- START OF TABLE -->

    <div class="panel panel-right col-md-8">
        <div class="panel-body">

        <div class="form-group">
          <label for="select" class="col-md-4">Company Name</label>
            <div class="col-md-5">
                <select class="form-control" id="selectBrand">
                    <option>Coca-Cola</option>
                    <option>SMB</option>
                </select>
            </div>
        </div>


      <table class="table variantTable table-striped table-hover">

              <thead>
                  <tr>
                      <th>Product Name</th>
                      <th>Size</th>
                      <th>Brand</th>
                      <th>Price</th>
                      <th>Bottles</th>
                      <th>Cases</th>
                      <th></th>
                  </tr>
              </thead>

              <tbody>
                  <tr>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>
                        <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#editStockModal" href="">Edit</button>
                      </td>
                  </tr>
                  <tr>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>
                       
                      </td>
                  </tr>
              </tbody>
          </table>

    <!-- END OF TABLE -->
    

    <div class="icon-preview">
      <a class="btn btn-primary pull-right btn-md">Add</a>
      <br>
    </div>


    <!-- PRINT ICON -->
    <br><br>
    <div class="form-group" align="right">
        <div class="icon-preview"><a class="btn btn-success pull-right btn-md"><i class="mdi-action-print"></i></a></div>
    </div>
    <br><br>


</div>
</div> <!-- END OF WHITE PANEL | DON'T REMOVE! -->

</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->